* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #272626;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #5A189A; /* Roxo escuro */
    margin-bottom: 20px;
}

#forms {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 40px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #9D4EDD; /* Roxo principal */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

button:hover {
    background-color: #7B2CBF; /* Sombra ao passar o mouse */
}

#condicao {
    width: 100px;
    margin-bottom: 15px;
}

.result-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

p {
    color: #5A189A; /* Roxo escuro */
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
}
